.Checkout-Page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > .Billing {
    flex-basis: calc(66.6% - 10px);
    @media (max-width: 1000px) {
      flex-basis: 100%;
    }
  }
  & > .Summary {
    flex-basis: calc(33.3% - 10px);
    @media (max-width: 1000px) {
      flex-basis: 100%;
    }
  }
}
